/* General */
body {
    margin: 0;
    line-height: 1.5em;
    color: #333333;
    background: #333333;
    font-family: helvetica, arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6, p, center {
    margin-bottom: 0;
    line-height: 1.2em;
    margin-top: 1em;
    color: #eaeaea;
}

a:link, a:visited {
    color: #c87800;
    text-decoration: none
}

a:hover, a:active {
    color: #c87800;
}


/* Single column layout */
nav section, header section, main, footer section {
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0.5em;
}


/* Navigation panel */
nav {
    background: #333333;
    border-bottom: thin solid #111111;
    line-height: 3em;
}

nav a {
    margin-right: 1em;
}

nav a:link, nav a:visited {
    color: #cccccc;
}

nav a:hover, nav a:active {
    color: #c87800;
}

@media screen and (min-width: 600px) {
    nav .links {
        float: right;
    }
}


/* Footer */
footer {
    background: #333;
    margin-top: auto;
    padding: 1em 0;
    text-align: center;
}

footer section p {
    font-size: 0.8em;
}

footer a {
    margin-right: 1em;
}

footer a:last-child {
    margin-right: 0;
}


/* Posts */
article {
    margin-top: 1em;
    margin-bottom: 1em;
}

article h3 a:link, article h3 a:visited,
article h2 a:link, article h2 a:visited,
article h1 a:link, article h1 a:visited,
.more:link, .more:visited {
    color: #9d9d9d;
}

article h3 a:hover, article h3 a:active,
article h2 a:hover, article h2 a:active,
article h1 a:hover, article h1 a:active,
.more:hover, .more:active {
    color: #ffffff;
}

p.meta {
    margin-top: 0;
    font-size: 0.8em;
    color: #777777;
    font-style: italic;
}

p.summary {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

div .more {
    margin-top: 0;
    font-weight: bold;
}



/* Code */

code {
  padding: 2px 4px;
  font-size: 90%;
  background-color: #eeeeee;
  /* border-radius: 4px; */
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  line-height: 1.4;
  word-break: break-all;
  word-wrap: break-word;
  border: 1px solid #ccc;
  /* border-radius: 4px; */
}

pre,
code {
  font-family: monocode, monospace;
  -webkit-font-smoothings: antialiased;
  -moz-osx-font-smoothing: grayscale;
}